body {
    background-color: #383c45;
    color: #fff;
    font-family: "Droid Sans", Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a {
    color: #5294e2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img.TransferIcon {
    width: 22px;
    height: 22px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
}

img.PluginIcon {
    width: 22px;
    height: 22px;
    padding-right: 8px;
    padding-top: 2px;
}

.NoWrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline;
}

.TableRow .Button {
    height: 24px;
}

.TransferIndicatorColumn {
    width: 30px;
    float: left;
    text-align: center;
}

.TransferNameColumn {
    width: 30%;
    float: left;
}

.TransferPriorityColumn {
    width: 10%;
    float: left;
}

.TransferProgressColumn {
    width: 20%;
    float: left;
}

.TransferSpeedColumn {
    width: 10%;
    float: left;
}

.TransferStatusColumn {
    width: 20%;
    float: left;
}

#statusBar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

#toolBar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

#actionSelector {
    height: 100%;
}

#settingsButtonGroup {
    float: right;
    height: 100%;
}

#activeLabel {
    text-align: center;
}

#speedLabel {
    position: absolute;
    right: 8px;
    bottom: 0;
}

#transfersHeader {
    position: fixed;
    left: 0;
    right: 0;
    top: 40px;
}

#transfersTable {
    position: fixed;
    left: 0;
    right: 0;
    top: 72px;
    bottom: 26px;
}

#captchaDialog {
    width: 400px;
    height: 300px;
    margin: -150px -200px;
}

#captchaImage {
    width: 100%;
}

#captchaResponseEdit {
    width: 100%;
}

#settingsRequestDialog {
    width: 400px;
    height: 300px;
    margin: -150px -200px;
}

#addUrlsDialog {
    width: 400px;
    height: 260px;
    margin: -130px -200px;
}

#addUrlsEdit {
    width: 100%;
    resize: none;
}

#retrieveUrlsDialog {
    width: 400px;
    height: 380px;
    margin: -190px -200px;
}

#retrieveUrlsEdit {
    width: 100%;
    resize: none;
}

#retrieveUrlsAddButton {
    width: 100%;
}

#urlCheckDialog {
    width: 400px;
    height: 380px;
    margin: -190px -200px;
}

#urlCheckBox {
    height: 200px;
}

#urlCheckTable {
    width: 100%;
    height: 100%;
}

.UrlCheckUrlColumn {
    width: 85%;
}

.UrlCheckOkColumn {
    width: 10%;
}

#settingsDialog {
    width: 600px;
    height: 380px;
    margin: -190px -300px;
}

#categoriesHeader {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}

#categoriesTable {
    height: 180px;
    padding-left: 8px;
    padding-right: 8px;
}

.CategoryNameColumn {
    width: 20%;
    float: left;
    padding-right: 8px;
}

.CategoryPathColumn {
    width: 70%;
    float: left;
}

#serviceBox {
    height: 240px;
}

#serviceTable {
    width: 30%;
    height: 100%;
    display: inline-block;
}

#serviceSettings {
    width: 70%;
    height: 100%;
    float: right;
}

#recaptchaBox {
    height: 240px;
}

#recaptchaTable {
    width: 30%;
    height: 100%;
    display: inline-block;
}

#recaptchaSettings {
    width: 70%;
    height: 100%;
    float: right;
}

#decaptchaBox {
    height: 240px;
}

#decaptchaTable {
    width: 30%;
    height: 100%;
    display: inline-block;
}

#decaptchaSettings {
    width: 70%;
    height: 100%;
    float: right;
}
