.Button {
    height: 32px;
    min-width: 72px;
    padding: 0 8px 0 8px;
    margin: 0;
    border-color: #2f343b;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    background-color: #383c45;
    color: #fff;
}

.Button:enabled:hover {
    border-color: #5294e2;
}

.Button:enabled:active {
    background-color: #2f343b;
    border-color: #1f2328;
}

.CountBubble {
    padding: 8px;
    text-align: center;
    background-color: #383c45;
    border: 1px solid #2f343b;
    border-radius: 2px;
}

.Dialog {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #444852;
    border: 1px solid #2f343b;
    border-radius: 2px;
}

.DialogButtonBox {
    display: inline-block;
    float: right;
    padding: 8px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.DialogButtonBox .Button {
    float: left;
    margin-right: 8px;
}

.DialogContent {
    padding: 8px;
}

.DialogTitle {
    background-color: #2f343b;
    font-style: italic;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px;
}

.GroupBox {
    border: 1px solid #2f343b;
    border-radius: 2px;
    padding: 8px;
}

.HBox {
    padding: 8px;
}

.ListItem {
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #2f343b;
}

.ListItem:active {
    background-color: #5294e2;
}

.ListItem:hover {
    cursor: default;
}

.ListItemContent {
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ListItemText {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 48px;
    width: 100%;
}

.ListView {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    list-style-type: none;
}

.Menu {
    display: none;
    position: absolute;
    background-color: #383c45;
    margin: 0;
    padding: 0;
    width: 200px;
}

.MenuItem {
    height: 26px;
    line-height: 26px;
    padding: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.MenuItem:hover {
    background-color: #444852;
    cursor: default;
}

.MenuItem:active {
    background-color: #5294e2;
    cursor: default;
}

.PopupBackground {
    display: none;
    background-color: transparent;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.ProgressBar {
    height: 24px;
    background-color: #383c45;
    border-width: 1px;
    border-style: solid;
    border-color: #2f343b;
    border-radius: 2px;
}

.ProgressBarFill {
    background-color: #5294e2;
    height: 100%;
}

.ProgressBarLabel {
    width: 100%;
    float: left;
    line-height: 24px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ScrollArea {
    overflow-x: hidden;
    overflow-y: auto;
}

.Selector {
    height: 24px;
    min-width: 24px;
    border-color: #2f343b;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    background-color: #383c45;
    color: #fff;
}

.Selector:enabled:hover {
    border-color: #5294e2;
}

.Selector:enabled:active {
    background-color: #2f343b;
    border-color: #1f2328;
}

.Spacer {
    float: left;
    position: relative;
    width: 1px;
    height: 24px;
    margin: 6px;
    background-color: #444852;
    border-right: 1px solid #2f343b;
}

.StatusBar {
    display: inline-block;
    background-color: #444852;
    border-top: 1px solid #2f343b;
    height: 24px;
    line-height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Tab {
    display: none;
}

.Tab[data-current="true"] {
    display: block;
}

.TabBar {
    display: inline-block;
    background-color: #444852;
    border-bottom: 1px solid #2f343b;
    height: 36px;
}

.TabButton {
    float: left;
    height: 30px;
    line-height: 30px;
    min-width: 30px;
    margin-top: 4px;
    padding: 0 8px 0 8px;
    position: relative;
    color: #fff;
    background-color: #444852;
    border-color: #444852;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
}

.TabButton:hover {
    text-decoration: none;
    cursor: default;
}

.TabButton:enabled:active {
    height: 36px;
    line-height: 36px;
    margin-top: 0;
    background-color: #383c45;
    border-left-color: #2f343b;
    border-right-color: #2f343b;
    border-top-color: #2f343b;
}

.TabButton[data-current="true"] {
    height: 36px;
    line-height: 36px;
    margin-top: 0;
    background-color: #383c45;
    border-left-color: #2f343b;
    border-right-color: #2f343b;
    border-top-color: #2f343b;
}

.TableHeader {
    width: 100%;
    height: 26px;
    line-height: 26px;
    padding: 2px;
    display: inline-block;
}

.TableRow {
    width: 100%;
    height: 26px;
    line-height: 26px;
    padding: 2px;
    display: inline-block;
}

.TableRow:hover {
    cursor: default;
}

.TableRow[data-current="true"] {
    background-color: #5294e2;
}

.TableColumn {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.TableView {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    list-style-type: none;
}

.TextEdit {
    border: 1px solid #2f343b;
    border-radius: 2px;
    background-color: #444852;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.TextField {
    border: 1px solid #2f343b;
    border-radius: 2px;
    background-color: #444852;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.ToolBar {
    display: inline-block;
    background-color: #444852;
    border-bottom: 1px solid #2f343b;
    height: 36px;
}

.ToolButton {
    float: left;
    height: 100%;
    min-width: 36px;
    padding: 0 8px 0 8px;
    margin: 0;
    position: relative;
    background-color: #444852;
    color: #fff;
    border-color: #444852;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
}

.ToolButton:enabled:hover {
    background-color: #383c45;
    border-color: #5294e2;
    cursor: default;
}

.ToolButton:enabled:active {
    background-color: #2f343b;
    border-color: #1f2328;
}

.Window {
    background-color: #444852;
}
