[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=QDL
GenericName=Plugin-based download manager
Comment=Download files from the internet
Exec=/opt/qdl2/bin/qdl2
Icon=/usr/share/icons/hicolor/64x64/apps/qdl2.png
Categories=Network
